<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <center>

    <div class="container">
      <ul class="list-inline" style="margin:15px 0px">
        <li><% provide(:title, @user.firstname) %></li>
        <li>
          <% if @user.avatar.attached? %>
            <img src="<%= url_for(@user.avatar)%>" class="avatar" style="margin:15px 0px">
          <% else %>
            <%= image_tag('default_avatar.jpg', :class => "avatar") %>
          <% end  %>
        </li>
        <li><strong>Name: </strong><%= @user.firstname %></li>
        <li><strong>Lastname: </strong><%= @user.lastname %></li>
        <li><strong>Email: </strong><%= @user.email %></li>
        <li><strong>Member since: </strong><%= @user.created_at.strftime("%d %B %Y") %></li>
        <li style="margin-bottom: 10px"><strong>Last Updated: </strong><%= @user.updated_at.strftime("%d %B %Y")%></li>
        <li><%= link_to "New post", new_post_path, type: "button", class: "btn btn-primary" %></li>
      </ul>

      <% @posts.each do |post| %>
        <% if post.wall_id == File.basename(request.original_url) %>
         <div class="well">
           <%= link_to (post.user.firstname), user_path(post.user.id), method: :get, class: "username_link"%>
           <div class="time_since_post"><%= time_since_post(post) %></div>
           <p><%= simple_format(post.abbreviated) %></p>

           <div class="like_count">
             <%= post.get_likes.size %> &#128591
           </div>

           <a>  <% if current_user.liked? post %>

               <div> <%= link_to unlike_post_path(post), class:"liked", method: :put, remote: :true do %>
               Preached </div>

               <% end%>
             <% else %>
             <div> <%= link_to like_post_path(post), class:"like-btn", method: :put, remote: :true do %>
             Preach </div>

               <% end%> 
               <% end%>
              <a>

            <a href="#" role="button" class="btn" data-toggle="modal" data-target="#<%=post.id%>ModalCenter">Read<a>

           <!-- <a href="#" role="button" class="btn" data-toggle="modal" data-target="#<%=post.id%>ModalCenter">Read<a> -->
            <div class="modal fade" id="<%=post.id%>ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
             <div class="modal-dialog modal-dialog-centered" role="document">
               <div class="modal-content">
                 <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalLongTitle"><%= post.user.firstname %> wrote <%= time_since_post(post) %>...</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                   </button>
                 </div>
                 <div class="modal-body">
                   <%= post.message %>
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                 </div>
               </div>
             </div>
           </div>
       </div>
       <% if current_user == (post.user) && post.less_than_10_minutes_ago %>
         <%= link_to 'Edit', edit_post_path(post), class: "btn btn-info btn-sm" %>
       <% end %>
       <% if current_user == (post.user) %>
        <%= link_to 'Delete', post_path(post), class: "btn btn-danger btn-sm", method: :delete, data: { confirm: "Are you sure?"} %>
       <%end%>
     <%end%>
    <%end%>
       <br>
     </div>
  </body>
</html>
