
<%= form_with(model: @post, local: true, html: {class: 'form-signin'}) do |form| %>
<h2>Edit your post</h2>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  <%= form.label :message %><br>
  <%= form.text_area :message, class: 'form-control' %>
</p>

<p>
  <%= form.submit "Submit", class: 'btn btn-primary btn-block' %>
</p>
<br>
<%= link_to 'Back', post_path %>

<% end %>
