<%= form_for @post, html: {class: 'form-signin'} do |form| %>
  <h2>New Post</h2>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  </div>
  <% end %>

  <%= form.text_area :message, id: "message", class: 'form-control', placeholder: "what's on your mind, #{current_user.firstname}?" %>
  <%= form.hidden_field :wall_id, :value => File.basename(request.referer) %>

  <%= form.submit "Submit", class: 'btn btn-primary btn-block' %>
  <br>
  <%= link_to 'Back', request.referer, class: "btn btn-primary btn-sm" %>
<% end %>
